.ed-grid > *{
    background-color: rgb(91, 117, 141);
    min-height: 95px;
    color: rgb(155, 70, 70);
    text-align: center;
    line-height: 90px;
}
.ed-grid .ed-grid{
    background-color: none;
}
