
.ed-grid > *{
    background-color: rgb(91, 117, 141);
    min-height: 95px;
    color: rgb(155, 70, 70);
    text-align: center;
    line-height: 90px;
}
.ed-grid .ed-grid{
    background-color: none;
}

.container{
    background-color: rgb(184, 198, 204);
}
.kin{
    background-color: rgb(122, 139, 139);
}
.tete{
    background-color: rgb(68, 61, 61);
}